.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cart-cartItems {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    margin-right: 0px;

    
}

.cartItem {
    width: 50%;
    display: flex;
    flex-direction: row;

    border-radius: 15px;
    margin: 15px;
    
}

.cartItem img {
    width: 10vw;
    display: flex;
    margin-left: 0px;    
}

.cartItem .description {
    width: 10px;
    height: 20px;
    font-size: 2vw;
}



.countHandler {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.countHandler input {
    width: 1vw;
    text-align: center;
    font-weight: bolder;
}

.checkout button {
    width: 5vw;
    height: 5vw;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}


