.header{
    background-color: rgb(150, 150, 150);
    width:100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    font-style: normal;

}

.logo{
    max-width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.logo img{
    height: 60px;
}
.menu-bar{
    flex: 1;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
}
.menu-bar div{
    margin: 0 1rem;
    font-size: 25px;
    cursor: pointer;
}

.navbar-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-cart .bag{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 50px;
}

.navbar-cart_area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:  rgba(0, 0, 0, 0.8);
    border:solid;
    z-index: 5;
}

.navbar-cart_area .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    background-color: gray;
    transition: 5s ease;

    border:solid;
   
    flex-direction: column;
    z-index: 5;
}

.title h1{
    
        font-size: 4vw;
        color: #311616;
        font-weight: bold;
    }



@media screen and (max-device-width: 480px) {
    .navbar-cart_area .sidebar{
        
        width:75vw;
    }    
}  

.navbar-cart_area .sidebar .x1 {
    width: 50px;
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar-cart_area .sidebar .title {
    padding-top: 50px;
}

.navbar-cart_area .sidebar .cartItems {
    display: flex;
}

.search-bar{
    width: 400px;
    height: 50px;
    border:solid;
    border-color: #ECECEC;
    background-color: #ECECEC;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.search{
    width:300px;
    height: 45px;
    
    border:none;
    font-size: 20px;
    background-color: #ECECEC;
}
.search:focus{
    outline:none;
}

.searchicon{
    width: 30px;
    height: 30px;
}

.search-bar button{
    border:none;
    background-color: #ECECEC;
    width:fit-content;
    height:fit-content;
    margin-right:3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar button:hover{
    cursor: pointer;
}

.navbar-smallscreen {
    display: none;
}

.navbar-smallscreen .stripes {
    max-width: 30px;
    height: 100%;
    justify-content: flex-end;
    cursor: pointer;
}

.navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    transition: 5s ease;

    flex-direction: column;
    z-index: 5;
}

.navbar-smallscreen_overlay .x {
    width: 50px;
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar-smallscreen_links {
    list-style: none;
    padding-top: 60px;
}

.navbar-smallscreen_links div {
    margin: 2rem;
    cursor: pointer;
    color: black;
    font-size: 2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 900px) {
    .menu-bar {
        display: none;
    }

    .bag {
        width: 5%;
    }

    .search-bar {
        display: none;
    }

    .navbar-smallscreen {
        display: flex;
    }

}

@media screen and (max-width: 650px) {

    .bag {
        width: 8%;
    }

    .search-bar {
        display: none;
    }


} 
