.page-number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:40vw;
    height:auto;
    margin-top: 2vw;
}
.page{
    width:11vw;
    height: 3vw;
    border-radius:10px;
    border:none;
    background-color:rgb(255, 253, 253);
    color:black;
    box-shadow: 0 2px 2px 2px rgba(129, 129, 129, 0.514);
}
